body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  nav {
    background-color: grey;
    padding: 10px;
  }
  
  /* Dropdown Button */
  .dropbtn {
    background-color: rgb(129, 73, 73);
    color: rgb(0, 0, 0);
    padding: 13px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: white;
  }
  
  #header1 {
    text-align: center;
    color: white;
  }
  
  header {
    background-color: rgb(129, 73, 73);
    margin-top: 0;
    padding: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
  }
  
  p {
    margin: 3px;
  }
  
  #content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
  }
  
  #content h2 {
    margin-bottom: 10px;
  }
  
  footer {
    background-color: rgb(129, 73, 73);
    padding: 10px;
    text-align: center;
    color: white;
  }
  